body{
  background-image: linear-gradient(45deg, rgb(107, 103, 103), rgb(218, 209, 209));
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column; /*elementos dispostos em coluna*/
  height: 100vh;
  justify-content: center; /*alinhar o conteúdo ao centro*/
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 250px;
}


.login__header h1 {
  color: #313030;
  font-size: 1.5em;
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none; /*retira borda ao clicar no campo*/
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color:  rgb(54, 119, 204);
  border: 2px solid cornflowerblue;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #eee !important;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}